[user]
	name = Eugene Burmako
	email = xeno.by@gmail.com
[log]
  date = relative
  decorate = short
  abbrev = 10
  abbrevCommit = true
[core]
  autocrlf = false
  filemode = false
  abbrev = 10
  quotepath = true
	excludesfile = /Users/xeno_by/.gitignore
  bare = false
  symlinks = false
  ignorecase = true
  hideDotFiles = dotGitOnly
  attributesfile = /Users/xeno_by/.gitattributes
[rerere]
  enabled = 1
[diff "javap"]
  textconv = /Users/xeno_by/Projects/Libscala/git-java/textconv-javap
  cachetextconv = true
[diff "jar-toc"]
  textconv = /Users/xeno_by/Projects/Libscala/git-java/textconv-jar
  cachetextconv = true
[difftool "sourcetree"]
	cmd = /Users/xeno_by/Library/Application Support/SourceTree/SourceTree 1.5.8/SourceTree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = subl -w $MERGED
	trustExitCode = true
[merge]
	conflictstyle = diff3
